.hero__icon-section {
    @include tablets {
        display: none;
    }
}

.features {
    display: flex;
}

.features__item {
    margin-right: rem(34px);

    &:last-child {
        margin-right: 0;
    }
}