.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }

    @include phones {
        padding: 0 3%;
    }

}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(27px);
    margin-bottom: rem(12px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    
    width: 100%;
    padding: rem(18px) rem(12px);
    border-radius: rem(4px);
    border: rem(3px) solid transparent;

    @include tablets {
        height: rem(22px);
    }

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(22px);

        @include tablets {
            height: rem(92px);
        }
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__input-error {
    border-color: #ff4b4b;
}

.form__title {
    color: #FFF;
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    display: flex;
    justify-content: center;
}