.products-menu-section {
    background: url('../image/product-menu-image-bg.jpg') center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.products-menu {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
}

.products-menu-section__title {
    text-align: left;
    color: #fff;
    margin-bottom: auto;
    margin-top: 10%;
    margin-left: 10%;

    @include tablets {
        margin-left: 3%;
    }
}

.products-menu__content {
    background: rgba(51, 53, 55, 0.9);
    width: 0px;
    position: relative;
    overflow: hidden;
    transition: width .7s;
}
.products-menu__item {
    display: flex;
    height: 100vh;
}

.products-menu__title {
    position: relative;
    display: inline-grid;
    cursor: pointer;

    &.products-menu__title-bg-one {
        background: url('../image/product-menu-image-one.jpg') center center/cover no-repeat;
    }

    &.products-menu__title-bg-two {
        background: url('../image/product-menu-image-two.jpg') center center/cover no-repeat;
    }
    
    &.products-menu__title-bg-three {
        background: url('../image/product-menu-image-three.jpg') center center/cover no-repeat;
    }
}


.products-menu__text {
    padding: rem(124px) 0px;
    width: rem(121px);
    margin-bottom: 0;
    margin-top: auto;

    @include phones {
        width: rem(90px);
    }
}

.products-menu__text-block {
    transform: rotateZ(-90deg);
    font-size: rem(48px);
    color: #fff;
}

.products-menu__close {
        width: rem(20px);
        height: rem(20px);
        background: transparent;
        border: transparent;
        text-transform: none;
        background: url('../image/close-icon.svg') center center/cover no-repeat;
        margin-left: auto;
        display: block;
        margin-right: rem(30px);
        margin-top: rem(30px);
        cursor: pointer;

        &:hover {
            background: url('../image/close-icon-hover.svg') center center/cover no-repeat;
        }
}

.products-menu__content-text {
    color: #fff;
    padding: rem(35px);

    @include phones {
        padding: rem(20px);
    }
}